# 3 Pandas

Python's Data Analysis library is called pandas and usually abbreviated as pd. Pandas is one of the most important tools used by Data Scientists today.

1) Let's begin by importing the library in the same way that we imported the numpy library in the previous section. (Remember to press shift+enter to execute each cell.)

In [1]:
import pandas as pd

<h4> File upload</h4>

Make sure the file bears.xlsx is in the same folder as this JNB. (Check this by Choosing File, then Open on the menu bar). 

If it is not there, you can get the bears.xlsx file here:

<a href="https://drive.google.com/drive/folders/1cpRptbyjYZSENEtjNNEiV7tBrIz4mONI?usp=sharing">get Excel file</a>

Then put the bears.xlsx in the same directory as this Jupyter notebook. (You can do this by choosing File on the top left of the Jupyter Notebook menu bar, and then selecting Open. Then hit the Upload button on the top right, find bears.xlsx, hit Open and then Upload.)  Return to this Notebook when you have completed the upload of the datafile.

2) Now we can use the read_excel() function in the pandas library to read  the data into a variable that is called a dataframe.  We will name our dataframe bear_info.

In [2]:
bear_info=pd.read_excel("bears.xlsx")  #read in the data
bear_info  #display the data

        Animal  Life_Span_in_Years  Size_in_Feet  Weight_in_Pounds
0        Black                  20             6               600
1  Giant Panda                  20             5               300
2      Grizzly                  25             8               800

3) We can shorten the names of the columns using the following command.

In [3]:
bear_info.columns=["Type","Age","Size","Weight"]
bear_info

          Type  Age  Size  Weight
0        Black   20     6     600
1  Giant Panda   20     5     300
2      Grizzly   25     8     800

4) We can display just the first two rows of our dataframe using a command of the form df.head(2) where df is the name of our dataframe.

In [4]:
bear_info.head(2)

          Type  Age  Size  Weight
0        Black   20     6     600
1  Giant Panda   20     5     300

5) The column at the left is called the index.  Note that the index values start with 0.  We can locate information in the dataframe using a command of the form df.loc[index,column] where df is the name of our dataframe, index is the value of the index, and column is the name of the column inside of quotation marks. Here is an example.

In [5]:
bear_info.loc[1,"Weight"]

300

6) Use .loc() to get the age of a Grizzly bear.

In [6]:
#your answer to 6)
bear_info.loc[2,"Age"]

25

7) Use .loc to get the size of a Black bear.

In [7]:
#your answer to 7)
bear_info.loc[0,"Size"]

6

<h3> Assignment</h3>

1) Create your own data file with some interesting info. Read in the data into a dataframe  called df using pd.read_excel().

2) Display the first row of df.

3) Abbreviate the column names.

4) Display the first line of your dataframe with abbreviated column names.

5) Show how to use .loc() to get a particular entry in your dataframe.

<h4> Solution </h4>

In [8]:
# 1) and 2) this requires uploading the file trees.xlsx into the same directory as this JNB
df=pd.read_excel("trees.xlsx")
df.head(1)

      Name of Tree  Height in Meters  Height in Feet
0  Sequoia redwood             116.0             380

In [9]:
# 3) and 4)
df.columns=["Tree","Height (m)","Height (ft)"]
df.head(1)

              Tree  Height (m)  Height (ft)
0  Sequoia redwood       116.0          380

In [10]:
# 5) Get the height of a Sequia in feet
df.loc[0,"Height (ft)"]

380